<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>配置</span>
			<i>/</i>
			<em>管理员管理</em>
		</div>

		<div class="item-tab-box">
			<div class="tab-item-main">
				<div class="tab-item">
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>姓名</th>
										<th>密码</th>
										<th>手机号</th>
										<th>探针</th>
										<th>修改配置</th>
										<th>修改管理员</th>
										<th>修改数据库</th>
										<th>接受告警短信</th>
										<th>管理区域</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>admin</td>
										<td>admin</td>
										<td>无</td>
										<td>无</td>
										<td>有</td>
										<td>有</td>
										<td>有</td>
										<td>无</td>
										<td>江西省</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
									<tr>
										<td>admin</td>
										<td>admin</td>
										<td>无</td>
										<td>无</td>
										<td>有</td>
										<td>有</td>
										<td>有</td>
										<td>摄像头: 离线,恢复在线,聚焦模糊,,恢复聚焦,亮度偏暗,亮度偏亮,恢复亮度,色彩失真,恢复色彩,视频卡顿,视频恢复,其他,</td>
										<td>	江西省上饶市</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
					<div class="iframe-item form-btn-box" style="text-align: center;">
						<button class="i" style="margin-bottom: 0;">添加新用户</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
</script>
</body>
</html>