<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>配置</span>
			<i>/</i>
			<em>预报表定义</em>
		</div>

		<div class="item-tab-box">
			<div class="tab-item-main">
				<div class="tab-item">
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>编号</th>
										<th>报告别名</th>
										<th>报告类型</th>
										<th>报告项目</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>ceshi</td>
										<td>摄像头管理</td>
										<td>摄像头模组、摄像头地址、设备号、在线状态</td>
										<td>无</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
									<tr>
										<td>1</td>
										<td>ceshi</td>
										<td>摄像头管理</td>
										<td>摄像头模组、摄像头地址、设备号、在线状态</td>
										<td>无</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
					<div class="iframe-item form-btn-box" style="text-align: center;">
						<button class="i" style="margin-bottom: 0;">生成新报告模板</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
</script>
</body>
</html>