<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>审计</span>
			<i>/</i>
			<em>操作日志（一人一档+一机一档）</em>
		</div>

		<div class="item-tab-box">
			<div class="iframe-item-tab">
				<span class="cur">摄像头</span>
				<span>警员</span>
			</div>
			<div class="tab-item-main">
				<!-- 摄像头 -->
				<div class="tab-item">
					<div class="xu-form xu-form-bottom xu-form-right">
						<label class="xu-search">
							<input placeholder="请输入维修的摄像头地址" class="i xu-form-w360">
							<button class="i">搜索</button>
						</label>
					</div>
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>摄像头地址</th>
										<th>设备名称</th>
										<th>设备号码</th>
										<th>维护动作</th>
										<th>
											开始时间
											<span class="sort">
												<em class="cur"><i class="iconfont">&#xe7fe;</i></em>
												<em><i class="iconfont">&#xe7ff;</i></em>
											</span>
										</th>
										<th>
											结束时间
											<span class="sort">
												<em class="cur"><i class="iconfont">&#xe7fe;</i></em>
												<em><i class="iconfont">&#xe7ff;</i></em>
											</span>
										</th>
										<th>维护时长</th>
										<th>发送短信</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td mapPointLng=114.811178 mapPointLat=40.773415 class="dialog_show">43.166.184.53</td>
										<td>SBMC_20000</td>
										<td>devnum_20000</td>
										<td>摄像头亮度异常</td>
										<td>2018-02-02 09:10:50</td>
										<td>2018-02-02 09:14:22</td>
										<td>3分32秒</td>
										<td><a href="##"><i class="iconfont">&#xe77c;</i></a></td>
									</tr>
									<tr>
										<td mapPointLng=114.811178 mapPointLat=40.773415 class="dialog_show">43.166.184.53</td>
										<td>SBMC_20000</td>
										<td>devnum_20000</td>
										<td>摄像头亮度异常</td>
										<td>2018-02-02 09:10:50</td>
										<td>2018-02-02 09:14:22</td>
										<td>3分32秒</td>
										<td><a href="##"><i class="iconfont">&#xe77c;</i></a></td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 警员 -->
				<div class="tab-item" style="display: none;">
					<div class="xu-form xu-form-bottom xu-form-right">
						<label class="xu-search">
							<input placeholder="请输入警员账号" class="i xu-form-w360">
							<button class="i">搜索</button>
						</label>
					</div>
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>登入账号</th>
										<th>所属地市</th>
										<th>累计访问时间</th>
										<th>警种</th>
										<th>
											创建时间
											<span class="sort">
												<em class="cur"><i class="iconfont">&#xe7fe;</i></em>
												<em><i class="iconfont">&#xe7ff;</i></em>
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="dialog_chart_show">admin</td>
										<td>江西省上饶市弋阳县</td>
										<td>1天 4小时 28分 21秒</td>
										<td>交管</td>
										<td>2018-01-02 09:10:50</td>
									</tr>
									<tr>
										<td class="dialog_chart_show">admin</td>
										<td>江西省上饶市弋阳县</td>
										<td>1天 4小时 28分 21秒</td>
										<td>交管</td>
										<td>2018-01-02 09:10:50</td>
									</tr>
									<tr>
										<td class="dialog_chart_show">admin</td>
										<td>江西省上饶市弋阳县</td>
										<td>1天 4小时 28分 21秒</td>
										<td>交管</td>
										<td>2018-01-02 09:10:50</td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <div class="table-dialog xu-display-table">
	<div class="xu-table-cell">
		<div class="dialog-main xu-maps-box_bg">
			<h3 class="dialog-tit">
				<span class="i">用户信息</span>
				<div class="msg i">
					<label>账号：<i>18852550</i></label>
					<label>警种：<i>交警局</i></label>
					<label>执行区域：<i>广东省湛江市廉江市</i></label>
				</div>
				<i class="iconfont j-close-dialog">&#xe64c;</i>
			</h3>
			<div class="xu-dialog-chart">
				<div id="xu-chart-line" class="chart"></div>
			</div>
			<div class="xu-dialog-table">
				<table>
					<thead>
						<tr>
							<th>终端</th>
							<th>动作</th>
							<th>访问时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>92.90.23.12</td>
							<td>开始预览视频</td>
							<td>2018-01-02 09:10:50</td>
						</tr>
						<tr>
							<td>92.90.23.12</td>
							<td>开始预览视频</td>
							<td>2018-01-02 09:10:50</td>
						</tr>
						<tr>
							<td>92.90.23.12</td>
							<td>开始预览视频</td>
							<td>2018-01-02 09:10:50</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="dialog-btn">
				<a href="##">
					查看全部访问历史
				</a>
			</div>
		</div>
	</div>
</div> -->
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
</script>
</body>
</html>