<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/plugins/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>审计</span>
			<i>/</i>
			<em>审计常用统计（审计统计）</em>
		</div>
		<div class="iframe-statistics-tab">
			<span class="cur"><em class="xu-display-table"><i class="xu-table-cell">本月累计预览时间最长账号和摄像头</i></em></span>
			<span><em class="xu-display-table"><i class="xu-table-cell">登录失败列表</i></em></span>
			<a href="sj_chaxun.html" class="btn i float-right">自定义查询</a>
		</div>
		<div class="item-tab-box">
			<div class="tab-item-main">
				<!-- 本月累计预览时间最长账号和摄像头 -->
				<div class="tab-item">
					<div class="xu-chart-table">
						<div class="xu-col-49_5 float-left border-style xu-h300p">
							<div class="chart-tit-img">
								<img src="../src/images/chart-tit-img.png" class="tit-img">
								<h3>本月累计预览时间最长摄像头</h3>
							</div>
							<div class="chart" id="eharts-num"></div>
						</div>
						<div class="xu-col-49_5 float-right border-style xu-h300p xiala">
							<div class="xu-table">
								<table>
									<thead>
										<tr>
											<th>摄像头</th>
											<th>数量</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="xu-chart-table">
						<div class="xu-col-49_5 float-left border-style xu-h300p">
							<div class="chart-tit-img">
								<img src="../src/images/chart-tit-img.png" class="tit-img">
								<h3>本月累计预览时间最长账号</h3>
							</div>
							<div class="chart" id="eharts-account">
								
							</div>
						</div>
						<div class="xu-col-49_5 float-right border-style xu-h300p xiala">
							<div class="xu-table">
								<table>
									<thead>
										<tr>
											<th>账号</th>
											<th>数量</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- 登录失败列表 -->
				<div class="tab-item" style="display: none;">
					<div class="xu-form xu-form-bottom xu-form-left">
						<label class="xu-search">
							<input placeholder="请输入摄像头地址" class="i xu-form-w360">
							<button class="i">搜索</button>
						</label>
					</div>
					<div class="xu-list-table">
						<div class="xu-col-15 float-left">
							<div class="xu-list">
								<h3>摄像头地址</h3>
								<ul>
									<li>
										<i class="i xu-ball red"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
									<li>
										<i class="i xu-ball green"></i>
										<span class="i">devnum_20000</span>
									</li>
								</ul>
							</div>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
						<div class="xu-col-84 float-right">
							<div class="xu-table border-style">
								<table>
									<thead>
										<tr>
											<th>摄像头</th>
											<th>数量</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
										<tr>
											<td>43.166.184.5311</td>
											<td>SBMC_20000</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- <div class="table-dialog xu-display-table">
	<div class="xu-table-cell">
		<div class="dialog-main">
			<h3 class="dialog-tit">
				设备信息
				<i class="iconfont j-close-dialog">&#xe64c;</i>
			</h3>
			<div id="xu-map" class="xu-map">
				
			</div>
			<div class="dialog-msg">
				<label>
					<em>摄像头编号：</em>
					<i>devnum_865</i>
				</label>
				<label>
					<em>归属警种：</em>
					<i>交管局</i>
				</label>
				<label>
					<em>IP地址：</em>
					<i>32.62.111.2</i>
				</label>
				<label>
					<em>摄像头名称：</em>
					<i>name-11981</i>
				</label>
				<label>
					<em>状态：</em>
					<i>离线</i>
				</label>
				<label>
					<em>MAC地址：</em>
					<i>MACDZ_865</i>
				</label>
			</div>
			<div class="dialog-btn">
				<a href="##">
					查看全部访问日志
				</a>
				<a href="##">
					查看全部维修记录
				</a>
			</div>
		</div>
	</div>
</div> -->
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="../src/js/plugins/jquery.mousewheel.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
	// 摄像头数量----柱状图
	var numChart = echarts.init(document.getElementById('eharts-num'));
    numOption = {
        tooltip: {
            trigger: 'item',
            show:screen ? false : true,
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            position: "top",
            formatter: function(params) {
                return "<div class='tooltipTop'><div class='tooltipTxtTop'></div>" + params.value + "</div>";
            },
            backgroundColor: 'transparent'
        },
        "legend": {
		    "data": [{
		        "name": "摄像头数量",
		        "icon": "circle",
		        "textStyle": {
		            "color": "#fff"
		        }
		    }],
		    "top": "8%",
		    'right':'4%'
		},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            data: ['01月','02月','03月','04月','05月','06月'],
            axisLine:{
            	lineStyle:{
            		color:"#1e326a"
            	}
            },
	        //刻度横线
	        axisTick: {
	            show: false
	        },
	        //刻度字样式
	        axisLabel: {
	            textStyle: {
	                color: '#8f97a1',
	                fontSize:'10',
	                align: 'center'
	            },
	        },
        }],
        yAxis: [{
        	// 刻度线
            axisLine:{
            	lineStyle:{
            		color:"#1e326a"
            	}
            },
	        //刻度横线
	        axisTick: {
	            show: false
	        },
	        //刻度字样式
	        axisLabel: {
	            textStyle: {
	                color: '#8f97a1',
	                fontSize:'10',
	                align: 'center'
	            },
	            margin: 15,
	        },
	        //网格线
	        splitLine:{
				lineStyle:{
					type:'dashed',
					color: '#1e326a'//网格线颜色
				}
			},
        }],
        series: [{
            name: '摄像头数量',
            type: 'bar',
            barWidth: '40%',
            data: [500,290,410,350,295,410],
            label: {
                normal: {
                    show: screen ? true : false,
                    position: 'top',
					padding:[6,10,10],
                    color:'#fff',
                    formatter: '{c}',
					backgroundColor:{
						image:label_screen
					},
                }
            },
            itemStyle: {
                normal: {
                    color:isIE8==true ? 'rgba(58,45,215, 1)' : new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(109,215,247, 1)'
                    }, {
                        offset: 1,
                        color:screen!=true ? 'rgba(58,45,215, 1)' : 'transparent'
                        // color: 'transparent'
                    }]),
                    // shadowColor: 'rgba(58,45,215, 0.1)',
                    // shadowBlur: 10
                }
            }
        }],
    };
    numChart.setOption(numOption);


	// 最长账号----柱状图
	var accountChart = echarts.init(document.getElementById('eharts-account'));
    accountOption = {
        tooltip: {
            trigger: 'item',
            show:screen ? false : true,
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
            position: "top",
            formatter: function(params) {
                return "<div class='tooltipTop'><div class='tooltipTxtTop'></div>" + params.value + "</div>";
            },
            backgroundColor: 'transparent'
        },
        "legend": {
		    "data": [{
		        "name": "最长账号",
		        "icon": "circle",
		        "textStyle": {
		            "color": "#fff"
		        }
		    }],
		    "top": "8%",
		    'right':'4%'
		},
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            data: ['01月','02月','03月','04月','05月','06月'],
            axisLine:{
            	lineStyle:{
            		color:"#1e326a"
            	}
            },
	        //刻度横线
	        axisTick: {
	            show: false
	        },
	        //刻度字样式
	        axisLabel: {
	            textStyle: {
	                color: '#8f97a1',
	                fontSize:'10',
	                align: 'center'
	            },
	        },
        }],
        yAxis: [{
        	// 刻度线
            axisLine:{
            	lineStyle:{
            		color:"#1e326a"
            	}
            },
	        //刻度横线
	        axisTick: {
	            show: false
	        },
	        //刻度字样式
	        axisLabel: {
	            textStyle: {
	                color: '#8f97a1',
	                fontSize:'10',
	                align: 'center'
	            },
	            margin: 15,
	        },
	        //网格线
	        splitLine:{
				lineStyle:{
					type:'dashed',
					color: '#1e326a'//网格线颜色
				}
			},
        }],
        series: [{
            name: '最长账号',
            type: 'bar',
            barWidth: '40%',
            data: [500,290,410,350,295,410],
            label: {
                normal: {
                    show: screen ? true : false,
                    position: 'top',
					padding:[6,10,10],
                    color:'#fff',
                    formatter: '{c}',
					backgroundColor:{
						image:label_screen
					},
                }
            },
            itemStyle: {
                normal: {
                    color:isIE8==true ? 'rgba(247,103,20, 1)' : new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(222,147,60, 1)'
                    }, {
                        offset: 1,
                        color:  screen!=true ? 'rgba(247,103,20, 1)' : 'transparent'
                        // color: 'transparent'
                    }]),
                    // shadowColor: 'rgba(247,103,20, 0.1)',
                    // shadowBlur: 10
                }
            }
        }],
    };
    accountChart.setOption(accountOption);
</script>
</body>
</html>