<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../src/css/plugins/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="../src/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>设备运维管理</span>
			<i>/</i>
			<em>巡检</em>
		</div>
		<div class="xu-maps-box xu-maps-box_bg">
			<div class="xu-maps-main">
				<div id="xu-map" class="xu-map"></div>
				<div class="camera-num">
					<h3>
						<span class="i">选择区域摄像头总数</span>
						<em class="i">45692,23</em>
					</h3>
					<div class="item">
						<span class="i">
							<i class="i xu-ball red"></i>
							<em class="i">在线摄像头总数</em>
						</span>
						<em class="i num">1585</em>
					</div>
					<div class="item">
						<span class="i">
							<i class="i xu-ball green"></i>
							<em class="i">理想摄像头总数</em>
						</span>
						<em class="i num">632</em>
					</div>
					<div class="item">
						<span class="i paddingLeft">
							<em class="i">当前在使用的摄像头数</em>
						</span>
						<em class="i num">450</em>
					</div>
					<div class="item">
						<span class="i paddingLeft">
							<em class="i">本月维护过的摄像头数</em>
						</span>
						<em class="i num">6</em>
					</div>
				</div>
				<div class="map-tree-nav">
					<img src="../src/images/tree-nav-icon.png" class="tree-nav-icon">
					<ul id="tree" class="ztree xiala"></ul>
				</div>
			</div>
		</div>
	</div>
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mousewheel.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="../src/plugins/zTree_v3/js/jquery.ztree.all.min.js"></script>
<script src="../src/js/main.js"></script>
<script>
	// 我这里使用的是百度地图，演示所用，后台对接的时候可以直接套用你们原来所使用的地图代码
	map = new BMap.Map('xu-map',{
	    enableMapClick: false,//去除默认poi点击事件
	});
	var myCity = new BMap.LocalCity();
	var poi = new BMap.Point(115.858099,28.723943);//设置地图中心点
	map.centerAndZoom(poi, 15);//设置地图级别
	//开启鼠标滚轮事件
	map.enableScrollWheelZoom(); 
	map.addControl(new BMap.NavigationControl({
		anchor: BMAP_ANCHOR_TOP_RIGHT, 
		type: BMAP_NAVIGATION_CONTROL_SMALL,
		offset:new BMap.Size(35, 10)
	}));
	// 添加定位控件
	var geolocationControl = new BMap.GeolocationControl({
		// anchor: BMAP_ANCHOR_BOTTOM_LEFT,
		// offset:new BMap.Size(32, 10)
	});
	geolocationControl.addEventListener("locationSuccess", function(e){
		// 定位成功事件
		var address = '';
		address += e.addressComponent.province;
		address += e.addressComponent.city;
		address += e.addressComponent.district;
		address += e.addressComponent.street;
		address += e.addressComponent.streetNumber;
		alert("当前定位地址为：" + address);
	});
	geolocationControl.addEventListener("locationError",function(e){
		// 定位失败事件
		alert(e.message);
	});
	map.addControl(geolocationControl);


	// 树结构
	// 树形结构的数据是直接从你们原网站趴下来的
	var zNodes = [
		{
			id: "南昌市",
			pId: "江西省",
			name: "南昌市(132/1947)",
			open: false,
			iconSkin: "pIcon01",
			WD: "28.688461",
			JD: "115.856312"
		}, {
			id: "360101",
			pId: "南昌市",
			name: "市辖区(15/177)",
			WD: "28.688461",
			JD: "115.856312"
		}, {
			id: "360102",
			pId: "南昌市",
			name: "东湖区(11/177)",
			WD: "28.691122",
			JD: "115.904304"
		}, {
			id: "360103",
			pId: "南昌市",
			name: "西湖区(24/354)",
			WD: "28.662147",
			JD: "115.882129"
		}, {
			id: "360104",
			pId: "南昌市",
			name: "青云谱区(15/177)",
			WD: "28.626884",
			JD: "115.926754"
		}, {
			id: "360105",
			pId: "南昌市",
			name: "湾里区(7/177)",
			WD: "28.721052",
			JD: "115.7384"
		}, {
			id: "360111",
			pId: "南昌市",
			name: "青山湖区(18/177)",
			WD: "28.626884",
			JD: "115.926754"
		}, {
			id: "360121",
			pId: "南昌市",
			name: "南昌县(9/177)",
			WD: "28.551981",
			JD: "115.947941"
		}, {
			id: "360112",
			pId: "南昌市",
			name: "新建区(8/177)",
			WD: "28.697639",
			JD: "115.826555"
		}, {
			id: "360123",
			pId: "南昌市",
			name: "安义县(10/177)",
			WD: "28.851499",
			JD: "115.553092"
		}, {
			id: "360124",
			pId: "南昌市",
			name: "进贤县(15/177)",
			WD: "28.373161",
			JD: "116.261905"
		}, {
			id: "景德镇市",
			pId: "江西省",
			name: "景德镇市(54/885)",
			open: false,
			iconSkin: "pIcon01",
			WD: "29.283321",
			JD: "117.194062"
		}, {
			id: "360201",
			pId: "景德镇市",
			name: "市辖区(14/177)",
			WD: "29.283321",
			JD: "117.194062"
		}, {
			id: "360202",
			pId: "景德镇市",
			name: "昌江区(12/177)",
			WD: "29.24807",
			JD: "117.142753"
		}, {
			id: "360203",
			pId: "景德镇市",
			name: "珠山区(10/177)",
			WD: "29.297715",
			JD: "117.203368"
		}, {
			id: "360222",
			pId: "景德镇市",
			name: "浮梁县(7/177)",
			WD: "29.35804",
			JD: "117.221753"
		}, {
			id: "360281",
			pId: "景德镇市",
			name: "乐平市(11/177)",
			WD: "28.988408",
			JD: "117.162535"
		}, {
			id: "萍乡市",
			pId: "江西省",
			name: "萍乡市(95/1239)",
			open: false,
			iconSkin: "pIcon01",
			WD: "27.653418",
			JD: "113.847411"
		}, {
			id: "360301",
			pId: "萍乡市",
			name: "市辖区(14/177)",
			WD: "27.653418",
			JD: "113.847411"
		}, {
			id: "360302",
			pId: "萍乡市",
			name: "安源区(30/354)",
			WD: "27.611961",
			JD: "113.892424"
		}, {
			id: "360313",
			pId: "萍乡市",
			name: "湘东区(11/177)",
			WD: "27.646259",
			JD: "113.739925"
		}, {
			id: "360321",
			pId: "萍乡市",
			name: "莲花县(10/177)",
			WD: "27.133334",
			JD: "113.967966"
		}, {
			id: "360322",
			pId: "萍乡市",
			name: "上栗县(20/177)",
			WD: "27.886416",
			JD: "113.802113"
		}, {
			id: "360323",
			pId: "萍乡市",
			name: "芦溪县(10/177)",
			WD: "27.637501",
			JD: "114.036016"
		}, {
			id: "九江市",
			pId: "江西省",
			name: "九江市(139/2478)",
			open: false,
			iconSkin: "pIcon01",
			WD: "29.710682",
			JD: "116.01235"
		}, {
			id: "360401",
			pId: "九江市",
			name: "市辖区(13/177)",
			WD: "29.710682",
			JD: "116.01235"
		}, {
			id: "360402",
			pId: "九江市",
			name: "濂溪区(11/177)",
			WD: "29.682924",
			JD: "116.002067"
		}, {
			id: "360403",
			pId: "九江市",
			name: "浔阳区(15/177)",
			WD: "29.73199",
			JD: "115.995769"
		}, {
			id: "360404",
			pId: "九江市",
			name: "柴桑区(17/177)",
			WD: "29.615056",
			JD: "115.917115"
		}, {
			id: "360423",
			pId: "九江市",
			name: "武宁县(8/177)",
			WD: "29.253655",
			JD: "115.109742"
		}, {
			id: "360424",
			pId: "九江市",
			name: "修水县(7/177)",
			WD: "29.032629",
			JD: "114.55037"
		}, {
			id: "360425",
			pId: "九江市",
			name: "永修县(6/177)",
			WD: "29.037287",
			JD: "115.821125"
		}, {
			id: "360426",
			pId: "九江市",
			name: "德安县(3/177)",
			WD: "28.866726",
			JD: "115.371417"
		}, {
			id: "360428",
			pId: "九江市",
			name: "都昌县(12/177)",
			WD: "29.278069",
			JD: "116.210384"
		}, {
			id: "360429",
			pId: "九江市",
			name: "湖口县(8/177)",
			WD: "29.736975",
			JD: "116.258375"
		}, {
			id: "360430",
			pId: "九江市",
			name: "彭泽县(11/177)",
			WD: "29.877323",
			JD: "116.55357"
		}, {
			id: "360481",
			pId: "九江市",
			name: "瑞昌市(12/177)",
			WD: "29.681449",
			JD: "115.688149"
		}, {
			id: "360483",
			pId: "九江市",
			name: "庐山市(7/177)",
			WD: "29.464319",
			JD: "116.047204"
		}, {
			id: "360482",
			pId: "九江市",
			name: "共青城市(9/177)",
			WD: "29.237648",
			JD: "115.819336"
		}, {
			id: "新余市",
			pId: "江西省",
			name: "新余市(31/531)",
			open: false,
			iconSkin: "pIcon01",
			WD: "27.824346",
			JD: "114.924829"
		}, {
			id: "360501",
			pId: "新余市",
			name: "市辖区(11/177)",
			WD: "27.824346",
			JD: "114.924829"
		}, {
			id: "360502",
			pId: "新余市",
			name: "渝水区(11/177)",
			WD: "27.806041",
			JD: "114.951262"
		}, {
			id: "360521",
			pId: "新余市",
			name: "分宜县(9/177)",
			WD: "27.81514",
			JD: "114.674146"
		}, {
			id: "鹰潭市",
			pId: "江西省",
			name: "鹰潭市(43/708)",
			open: false,
			iconSkin: "pIcon01",
			WD: "28.278894",
			JD: "117.049129"
		}, {
			id: "360601",
			pId: "鹰潭市",
			name: "市辖区(9/177)",
			WD: "28.278894",
			JD: "117.049129"
		}, {
			id: "360602",
			pId: "鹰潭市",
			name: "月湖区(9/177)",
			WD: "28.236868",
			JD: "117.05404"
		}, {
			id: "360622",
			pId: "鹰潭市",
			name: "余江县(16/177)",
			WD: "28.212426",
			JD: "116.816401"
		}, {
			id: "360681",
			pId: "鹰潭市",
			name: "贵溪市(9/177)",
			WD: "28.298735",
			JD: "117.251399"
		}, {
			id: "赣州市",
			pId: "江西省",
			name: "赣州市(197/3363)",
			open: false,
			iconSkin: "pIcon01",
			WD: "25.836997",
			JD: "114.942946"
		}, {
			id: "360701",
			pId: "赣州市",
			name: "市辖区(12/177)",
			WD: "25.836997",
			JD: "114.942946"
		}, {
			id: "360702",
			pId: "赣州市",
			name: "章贡区(15/177)",
			WD: "25.824397",
			JD: "114.928557"
		}, {
			id: "360703",
			pId: "赣州市",
			name: "南康区(4/177)",
			WD: "25.667053",
			JD: "114.771969"
		}, {
			id: "360721",
			pId: "赣州市",
			name: "赣县区(10/177)",
			WD: "25.867165",
			JD: "115.02087"
		}, {
			id: "360722",
			pId: "赣州市",
			name: "信丰县(8/177)",
			WD: "25.39302",
			JD: "114.930815"
		}, {
			id: "360723",
			pId: "赣州市",
			name: "大余县(18/177)",
			WD: "25.402774",
			JD: "114.37315"
		}, {
			id: "360724",
			pId: "赣州市",
			name: "上犹县(11/177)",
			WD: "25.790324",
			JD: "114.558118"
		}, {
			id: "360725",
			pId: "赣州市",
			name: "崇义县(11/177)",
			WD: "25.687948",
			JD: "114.314931"
		}, {
			id: "360726",
			pId: "赣州市",
			name: "安远县(16/177)",
			WD: "25.142678",
			JD: "115.401134"
		}, {
			id: "360727",
			pId: "赣州市",
			name: "龙南县(9/177)",
			WD: "24.91247",
			JD: "114.818041"
		}, {
			id: "360728",
			pId: "赣州市",
			name: "定南县(6/177)",
			WD: "24.779581",
			JD: "115.034313"
		}, {
			id: "360729",
			pId: "赣州市",
			name: "全南县(5/177)",
			WD: "24.748403",
			JD: "114.537444"
		}, {
			id: "360730",
			pId: "赣州市",
			name: "宁都县(9/177)",
			WD: "26.47598",
			JD: "116.019231"
		}, {
			id: "360731",
			pId: "赣州市",
			name: "于都县(12/177)",
			WD: "25.959161",
			JD: "115.422218"
		}, {
			id: "360732",
			pId: "赣州市",
			name: "兴国县(9/177)",
			WD: "26.343494",
			JD: "115.369696"
		}, {
			id: "360733",
			pId: "赣州市",
			name: "会昌县(7/177)",
			WD: "25.604772",
			JD: "115.792316"
		}, {
			id: "360734",
			pId: "赣州市",
			name: "寻乌县(16/177)",
			WD: "24.974753",
			JD: "115.645251"
		}, {
			id: "360735",
			pId: "赣州市",
			name: "石城县(11/177)",
			WD: "26.320526",
			JD: "116.352881"
		}, {
			id: "360781",
			pId: "赣州市",
			name: "瑞金市(8/177)",
			WD: "25.891731",
			JD: "116.033996"
		}, {
			id: "吉安市",
			pId: "江西省",
			name: "吉安市(156/2478)",
			open: false,
			iconSkin: "pIcon01",
			WD: "27.097088",
			JD: "114.975071"
		}, {
			id: "360801",
			pId: "吉安市",
			name: "市辖区(12/177)",
			WD: "27.097088",
			JD: "114.975071"
		}, {
			id: "360802",
			pId: "吉安市",
			name: "吉州区(11/177)",
			WD: "27.149379",
			JD: "115.001467"
		}, {
			id: "360803",
			pId: "吉安市",
			name: "青原区(14/177)",
			WD: "27.08747",
			JD: "115.02228"
		}, {
			id: "360821",
			pId: "吉安市",
			name: "吉安县(15/177)",
			WD: "27.044796",
			JD: "114.916028"
		}, {
			id: "360822",
			pId: "吉安市",
			name: "吉水县(7/177)",
			WD: "27.234361",
			JD: "115.143073"
		}, {
			id: "360823",
			pId: "吉安市",
			name: "峡江县(14/177)",
			WD: "27.588811",
			JD: "115.323265"
		}, {
			id: "360824",
			pId: "吉安市",
			name: "新干县(10/177)",
			WD: "27.745697",
			JD: "115.394601"
		}, {
			id: "360825",
			pId: "吉安市",
			name: "永丰县(11/177)",
			WD: "27.328322",
			JD: "115.431736"
		}, {
			id: "360826",
			pId: "吉安市",
			name: "泰和县(5/177)",
			WD: "26.80163",
			JD: "114.902943"
		}, {
			id: "360827",
			pId: "吉安市",
			name: "遂川县(12/177)",
			WD: "26.319258",
			JD: "114.527778"
		}, {
			id: "360828",
			pId: "吉安市",
			name: "万安县(14/177)",
			WD: "26.463426",
			JD: "114.790349"
		}, {
			id: "360829",
			pId: "吉安市",
			name: "安福县(14/177)",
			WD: "27.399782",
			JD: "114.627843"
		}, {
			id: "360830",
			pId: "吉安市",
			name: "永新县(10/177)",
			WD: "26.951344",
			JD: "114.250062"
		}, {
			id: "360881",
			pId: "吉安市",
			name: "井冈山市(7/177)",
			WD: "26.753387",
			JD: "114.296993"
		}, {
			id: "宜春市",
			pId: "江西省",
			name: "宜春市(95/1947)",
			open: false,
			iconSkin: "pIcon01",
			WD: "27.820473",
			JD: "114.426582"
		}, {
			id: "360901",
			pId: "宜春市",
			name: "市辖区(6/177)",
			WD: "27.820473",
			JD: "114.426582"
		}, {
			id: "360902",
			pId: "宜春市",
			name: "袁州区(9/177)",
			WD: "27.802839",
			JD: "114.43528"
		}, {
			id: "360921",
			pId: "宜春市",
			name: "奉新县(12/177)",
			WD: "28.694853",
			JD: "115.407342"
		}, {
			id: "360922",
			pId: "宜春市",
			name: "万载县(6/177)",
			WD: "28.111623",
			JD: "114.453256"
		}, {
			id: "360923",
			pId: "宜春市",
			name: "上高县(4/177)",
			WD: "28.2247",
			JD: "114.950516"
		}, {
			id: "360924",
			pId: "宜春市",
			name: "宜丰县(11/177)",
			WD: "28.398481",
			JD: "114.805781"
		}, {
			id: "360925",
			pId: "宜春市",
			name: "靖安县(10/177)",
			WD: "28.867082",
			JD: "115.369481"
		}, {
			id: "360926",
			pId: "宜春市",
			name: "铜鼓县(14/177)",
			WD: "28.519149",
			JD: "114.362248"
		}, {
			id: "360981",
			pId: "宜春市",
			name: "丰城市(7/177)",
			WD: "28.165722",
			JD: "115.779059"
		}, {
			id: "360982",
			pId: "宜春市",
			name: "樟树市(11/177)",
			WD: "28.061898",
			JD: "115.554"
		}, {
			id: "360983",
			pId: "宜春市",
			name: "高安市(5/177)",
			WD: "28.446172",
			JD: "115.417635"
		}, {
			id: "抚州市",
			pId: "江西省",
			name: "抚州市(130/1947)",
			open: false,
			iconSkin: "pIcon01",
			WD: "27.95553",
			JD: "116.364467"
		}, {
			id: "361001",
			pId: "抚州市",
			name: "市辖区(8/177)",
			WD: "27.95553",
			JD: "116.364467"
		}, {
			id: "361002",
			pId: "抚州市",
			name: "临川区(13/177)",
			WD: "27.940395",
			JD: "116.318849"
		}, {
			id: "361003",
			pId: "抚州市",
			name: "东乡区(0/0)",
			WD: "28.253913",
			JD: "116.611554"
		}, {
			id: "361021",
			pId: "抚州市",
			name: "南城县(8/177)",
			WD: "27.577202",
			JD: "116.644333"
		}, {
			id: "361022",
			pId: "抚州市",
			name: "黎川县(13/177)",
			WD: "27.288212",
			JD: "116.913142"
		}, {
			id: "361023",
			pId: "抚州市",
			name: "南丰县(16/177)",
			WD: "27.217153",
			JD: "116.542327"
		}, {
			id: "361024",
			pId: "抚州市",
			name: "崇仁县(12/177)",
			WD: "27.765217",
			JD: "116.07435"
		}, {
			id: "361025",
			pId: "抚州市",
			name: "乐安县(19/177)",
			WD: "27.434529",
			JD: "115.839077"
		}, {
			id: "361026",
			pId: "抚州市",
			name: "宜黄县(9/177)",
			WD: "27.559922",
			JD: "116.242614"
		}, {
			id: "361027",
			pId: "抚州市",
			name: "金溪县(13/177)",
			WD: "27.926095",
			JD: "116.762919"
		}, {
			id: "361028",
			pId: "抚州市",
			name: "资溪县(11/177)",
			WD: "27.711654",
			JD: "117.067935"
		}, {
			id: "361030",
			pId: "抚州市",
			name: "广昌县(8/177)",
			WD: "26.849679",
			JD: "116.344358"
		}, {
			id: "上饶市",
			pId: "江西省",
			name: "上饶市(129/2304)",
			open: false,
			iconSkin: "pIcon01",
			WD: "28.480821",
			JD: "117.953772"
		}, {
			id: "361101",
			pId: "上饶市",
			name: "市辖区(7/177)",
			WD: "28.480821",
			JD: "117.953772"
		}, {
			id: "361102",
			pId: "上饶市",
			name: "信州区(11/177)",
			WD: "28.436421",
			JD: "117.973196"
		}, {
			id: "361103",
			pId: "上饶市",
			name: "广丰区(5/177)",
			WD: "28.45011",
			JD: "118.197995"
		}, {
			id: "361121",
			pId: "上饶市",
			name: "上饶县(15/177)",
			WD: "28.454187",
			JD: "117.91544"
		}, {
			id: "361123",
			pId: "上饶市",
			name: "玉山县(6/177)",
			WD: "28.688891",
			JD: "118.252353"
		}, {
			id: "361124",
			pId: "上饶市",
			name: "铅山县(11/177)",
			WD: "28.316354",
			JD: "117.719656"
		}, {
			id: "361125",
			pId: "上饶市",
			name: "横峰县(11/177)",
			WD: "28.413758",
			JD: "117.604194"
		}, {
			id: "361126",
			pId: "上饶市",
			name: "弋阳县(10/180)",
			WD: "28.416428",
			JD: "117.452775"
		}, {
			id: "361127",
			pId: "上饶市",
			name: "余干县(14/177)",
			WD: "28.702987",
			JD: "116.710728"
		}, {
			id: "361128",
			pId: "上饶市",
			name: "鄱阳县(12/177)",
			WD: "29.011453",
			JD: "116.710135"
		}, {
			id: "361129",
			pId: "上饶市",
			name: "万年县(12/177)",
			WD: "28.700751",
			JD: "117.066252"
		}, {
			id: "361130",
			pId: "上饶市",
			name: "婺源县(5/177)",
			WD: "29.254102",
			JD: "117.869595"
		}, {
			id: "361181",
			pId: "上饶市",
			name: "德兴市(10/177)",
			WD: "28.954967",
			JD: "117.58469"
		}, {
			id: "江西省",
			pId: "",
			name: "江西省",
			open: true,
			iconSkin: "pIcon01",
			WD: "28.954967",
			JD: "117.58469"
		}
	];
	var setting = {
    	data: { simpleData: { enable: true } },
    	callback: { onClick: zTreeOnClick }
	};
	function zTreeOnClick(event, treeId, treeNode) {
		map.panTo(new L.LatLng(treeNode.WD, treeNode.JD));
		//alert(treeNode.WD+ "  " + treeNode.JD);
		//load_middle(0,treeNode.id);
		//$query = "SELECT XZQY From XZQY_list Where XZQY="
	};
	$(".ztree").each(function() {
		$.fn.zTree.init($(this), setting, zNodes);
	});
</script>
</body>
</html>