<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
	<!-- 百度地图 -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Pg78EjHlM1Ma0Bs5gZwkmgrQ"></script>
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>配置</span>
			<i>/</i>
			<em>终端属性</em>
		</div>

		<div class="item-tab-box">
			<div class="tab-item-main">
				<div class="tab-item">
					<div class="xu-form xu-form-bottom xu-form-left">
						<label class="xu-search">
							<input placeholder="请输入摄像头地址" class="i xu-form-w360">
							<button class="i">查询</button>
						</label>
					</div>
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>地址</th>
										<th>安装区域</th>
										<th>时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="dialog_show" mapPointLng=117.5426900 mapPointLat=28.9909670>192.168.2.68</td>
										<td>江西省上饶市弋阳县</td>
										<td>2018-04-17 18:33:28</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
									<tr>
										<td class="dialog_show" mapPointLng=117.5426900 mapPointLat=28.9909670>192.168.2.68</td>
										<td>江西省上饶市弋阳县</td>
										<td>2018-04-17 18:33:28</td>
										<td>
											<a href="##"><i class="iconfont">&#xe709;</i></a>
											<a href="##"><i class="iconfont">&#xe630;</i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
</script>
</body>
</html>