<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<!-- 图标本地链接 -->
	<!-- <link rel="stylesheet" href="./iconfont/iconfont.css"> -->
	<!-- 图标在线链接 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_644589_0x9fq5zt1g85xw29.css">
	<link rel="stylesheet" type="text/css" href="../src/css/main.css">
</head>
<body>
	<div class="xu-iframe-wrap">
		<div class="xu-breadcrumb">
			<span>设备运维管理</span>
			<i>/</i>
			<em>视频服务器列表</em>
		</div>

		<div class="item-tab-box">
			<div class="tab-item-main">
				<div class="tab-item">
					<div class="xu-form xu-form-bottom xu-form-left">
						<label class="xu-search">
							<input placeholder="请输入服务器地址" class="i xu-form-w360">
							<button class="i">搜索</button>
						</label>
					</div>
					<div class="iframe-item">
						<div class="xu-table paddingtop">
							<table>
								<thead>
									<tr>
										<th>IP地址</th>
										<th>累计使用时间</th>
										<th>最近使用时间</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="dialog_terminal_show">192.168.2.68</td>
										<td>1天 4小时 28分 26秒</td>
										<td>2018-04-17 18:33:28</td>
									</tr>
									<tr>
										<td class="dialog_terminal_show">192.168.2.68</td>
										<td>1天 4小时 28分 26秒</td>
										<td>2018-04-17 18:33:28</td>
									</tr>
								</tbody>
							</table>
							<div class="table-page">
								<a href="javascript:;" class="i">&lt;</a>
								<ul class="i">
									<li class="cur">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
								</ul>
								<a href="javascript:;" class="i">&gt;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="../src/js/plugins/jquery-1.11.3.min.js"></script>
<script src="../src/js/plugins/jquery.mCustomScrollbar.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
<script src="../src/js/main.js"></script>
<script src="../src/js/dialog.js"></script>
<script>
</script>
</body>
</html>